@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(img/modern-clean-white-background-free-vector.jpg);
    font-size: 20px;
}


.main1 {
    margin: 150px auto;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.main1 h3 {
    color: #0170B9;
}

.main1 h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #0170B9;
    margin: 0 auto;
    position: absolute;
    border-radius: 15px;
}

.sessao {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: center;
    margin: 30px;

}

.sessao img {
    display: flex;
    width: 80%;

}



.div1 {
    max-width: 600px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


}


.div2 {
    max-width: 600px;
    margin-left: 50px;
}


.div2 p {
    display: flex;
    align-items: center;
    justify-content: center;

}



.divlista {
    text-align: center;
    max-width: 300px;
    margin: 50px;
}

.divlista img {
    width: 125px;
    height: 125px;
    
}



.main1 li {
    margin: 10px;
}


.sessao2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

